html, body {
  height: 100%;
}

#app-mount {
  height: 100%;
  display: flex;
  justify-content: center;
}

#app {
  align-self: center;
}

table {
  border-collapse: collapse;
}

td {
  border: 5px solid black;
  height: 100px;
  width: 100px;
}

.cell {
  height: 100%;
}

.played {
  border: 2px solid black;
  border-radius: 50%;
}
