html, body {
  height: 100%;
}

#app-mount {
  height: 100%;
  display: flex;
  justify-content: center;
}

#app {
  align-self: center;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

